<div>
	<h1>Created User:</h1>
	<p>First Name: {{firstName}}</p>
	<p>Last Name: {{lastName}}</p> 
	<p>Email: {{email}} </p> 
	<p>Password: {{password}}</p>
</div>
<a href="/users"><button type="button" class="btn btn-success">View All Users</button></a>