<h1>List of site users:</h1>
<table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
		</tr>
	{{#each createdUsers}}
		<tr>
			<td>{{this.firstName}}</td>
			<td>{{this.lastName}}</td>
			<td>{{this.email}}</td>
		</tr>
	{{/each}}
</table>